doctype html
title= title
include core/header.pug
link(href='stylesheets/main.css' rel='stylesheet')
body
	include core/headerLayout.pug
	main
		#myCarousel.carousel.slide(data-bs-ride='carousel')
			.carousel-inner
				.carousel-item.active
					svg.bd-placeholder-img(width='100%' height='100%' xmlns='http://www.w3.org/2000/svg' aria-hidden='true' preserveaspectratio='xMidYMid slice' focusable='false')
						rect(width='100%' height='100%' fill='#777')
					.container
						.carousel-caption.text-start
							h1 Example headline.
							p Some representative placeholder content for the first slide of the carousel.
							p
								a.btn.btn-lg.btn-primary(href='/auth/login') Login or Register Today
			//- button.carousel-control-prev(type='button' data-bs-target='#myCarousel' data-bs-slide='prev')
			//- 	span.carousel-control-prev-icon(aria-hidden='true')
			//- 	span.visually-hidden Previous
			//- button.carousel-control-next(type='button' data-bs-target='#myCarousel' data-bs-slide='next')
			//- 	span.carousel-control-next-icon(aria-hidden='true')
			//- 	span.visually-hidden Next
		//
			Marketing messaging and featurettes
			==================================================
		// Wrap the rest of the page in another container to center all the content.
		.container.marketing
			// Summary Container
			.row.featurette
				.col-md-7
					h2.featurette-heading
						| First featurette heading. 
						span.text-muted It&rsquo;ll blow your mind.
					p.lead
						| Some great placeholder content for the first featurette here. Imagine some exciting prose here.
				.col-md-5
					svg.bd-placeholder-img.bd-placeholder-img-lg.featurette-image.img-fluid.mx-auto(width='500' height='500' xmlns='http://www.w3.org/2000/svg' role='img' aria-label='Placeholder: 500x500' preserveaspectratio='xMidYMid slice' focusable='false')
						title Placeholder
						rect(width='100%' height='100%' fill='#eee')
						text(x='50%' y='50%' fill='#aaa' dy='.3em') 500x500
			hr.featurette-divider
			.row.featurette
				.col-md-7.order-md-2
					h2.featurette-heading
						| Oh yeah, it&rsquo;s that good. 
						span.text-muted See for yourself.
					p.lead
						| Another featurette? Of course. More placeholder content here to give you an idea of how this layout would work with some actual real-world content in place.
				.col-md-5.order-md-1
					svg.bd-placeholder-img.bd-placeholder-img-lg.featurette-image.img-fluid.mx-auto(width='500' height='500' xmlns='http://www.w3.org/2000/svg' role='img' aria-label='Placeholder: 500x500' preserveaspectratio='xMidYMid slice' focusable='false')
						title Placeholder
						rect(width='100%' height='100%' fill='#eee')
						text(x='50%' y='50%' fill='#aaa' dy='.3em') 500x500
			hr.featurette-divider
			.row.featurette
				.col-md-7
					h2.featurette-heading
						| And lastly, this one. 
						span.text-muted Checkmate.
					p.lead
						| And yes, this is the last block of representative placeholder content. Again, not really intended to be actually read, simply here to give you a better view of what this would look like with some actual content. Your content.
				.col-md-5
					svg.bd-placeholder-img.bd-placeholder-img-lg.featurette-image.img-fluid.mx-auto(width='500' height='500' xmlns='http://www.w3.org/2000/svg' role='img' aria-label='Placeholder: 500x500' preserveaspectratio='xMidYMid slice' focusable='false')
						title Placeholder
						rect(width='100%' height='100%' fill='#eee')
						text(x='50%' y='50%' fill='#aaa' dy='.3em') 500x500
			hr.featurette-divider
			// /END THE FEATURETTES
		// /.container
		include core/footer.pug
include core/bootstrap.pug