header
    nav.navbar.navbar-expand-md.navbar-dark.fixed-top.bg-dark
        .container-fluid
            a.navbar-brand(href='/') Live Today
            button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarCollapse' aria-controls='navbarCollapse' aria-expanded='false' aria-label='Toggle navigation')
                span.navbar-toggler-icon
            #navbarCollapse.collapse.navbar-collapse
                ul.navbar-nav.me-auto.mb-2.mb-md-0
                    li.nav-item
                        a.nav-link.active(aria-current='page' href='/') Home
                ul.navbar-nav.ml-auto
                    li.nav-item
                    - if(ownerCheck === undefined){
                        a.nav-link(href='/auth/login') Login & Register
                    - } else if (ownerCheck && (ownerCheck !== userId)){
                        a.nav-link(href='/auth/logout') Logout
                        a.nav-link(href=`/admin/mypage/${userId}`) My Page
                    - }